{% extends 'comptes/navbar.html' %}

{% block content %}
<hr>
<div class="container mt-2 mb-2">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <p>
                    <b>Vérifiez votre boîte de réception.</b><br>
                    <span class="text-warnng" style="font-size:16px;">Colways</span> envoie immédiatement un message à l'adresse email associée à votre compte.<br>
                    Pour continuer, cliquez sur le <b>lien de réinitialisation</b> figurant dans ce message.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
