{% extends 'comptes/navbar.html' %}

{% block content %}
<hr>
<div class="container mt-2 mb-2">
    <div class="row justify-content-center">
        <div class="col-md-6">
        {% if validlink %}
            <div class="card">
                <div class="card-title ml-2">Changer votre mot de passe</div>
                <div class="card-body">
                    <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success mt-1 mb-1">Envoyer</button>
                    </form>
                </div>
            </div>
        {% else %}
        <p> Le lien de redirection n'est pas valide. Veuillez réessayer svp </p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock content %}