<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
	<!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
    <title>Colways</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="{% static 'template/images/favicon.png' %}">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<!-- StyleSheet -->
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="{% static 'template/css/bootstrap.min.css' %}">
	<!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'template/css/magnific-popup.min.css' %}">
	<!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'template/css/font-awesome.css' %}">
	<!-- Fancybox -->
	<link rel="stylesheet" href="{% static 'template/css/jquery.fancybox.min.css'%}">
	<!-- Themify Icons -->
    <link rel="stylesheet" href="{% static 'template/css/themify-icons.css' %}">
	<!-- Nice Select CSS -->
    <link rel="stylesheet" href="{% static 'template/css/niceselect.css' %}">
	<!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'template/css/animate.css' %}">
	<!-- Flex Slider CSS -->
    <link rel="stylesheet" href="{% static 'template/css/flex-slider.min.css' %}">
	<!-- Owl Carousel -->
    <link rel="stylesheet" href="{% static 'template/css/owl-carousel.css' %}">
	<!-- Slicknav -->
    <link rel="stylesheet" href="{% static 'template/css/slicknav.min.css' %}">
	<!-- Main style StyleSheet -->
	<link rel="stylesheet" href="{% static 'template/css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'comptes/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/responsive.css' %}">
	<!-- add product image -->
	<link rel="stylesheet" href="{% static 'produits/css/uploads.css' %}">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

</head>
<body class="js">
	
	<!-- Preloader -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- End Preloader -->
	
	
	<!-- Header -->
	<header class="header shop">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-12">
						<!-- Top Left -->
						<div class="top-left">
							<ul class="list-main">
								<li><i class="ti-headphone-alt"></i>779999999</li>
								<li><i class="ti-email"></i> colways@gmail.com</li>
							</ul>
						</div>
						<!--/ End Top Left -->
					</div>
					<div class="col-lg-8 col-md-12 col-12">
						<!-- Top Right -->
						<div class="right-content">
							<ul class="list-main">
								<li><i class="ti-location-pin"></i><a href="#"></a>Market Bi</li>
								<li><i class="ti-alarm-clock"></i> <a href="#">Wanter</a></li>
								<li> <a href="#">Publicité</a></li>
								<li><a href="#">Politique</a></li>
							</ul>
						</div>
						<!-- End Top Right -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo">
							<a href="{% url 'accueil' %}" style="font-size:2em;">Colways<i style="color:orange" class="fa fa-shopping-cart"></i></a>
						</div>
						<!--/ End Logo -->
						<!-- Search Form -->
						<div class="search-top">
							<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
							<!-- Search Form -->
							<div class="search-top">
								<form class="search-form">
									<input type="text" placeholder="Search here..." name="search">
									<button value="search" type="submit"><i class="ti-search"></i></button>
								</form>
							</div>
							<!--/ End Search Form -->
						</div>
						<!--/ End Search Form -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-8 col-md-7 col-12">
						<div class="search-bar-top">
							<div class="search-bar">
								<select>
									<option selected>Produits</option>
									<option>Membres</option>
									<option>Blog</option>
								</select>
								<form>
									<input name="search" placeholder="Trouver un produit....." type="search">
									<button class="btnn"><i class="ti-search"></i></button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-12">
						<div class="right-bar">
                        {% if request.user.is_authenticated %}
							<!-- Search Form -->
							<div class="sinlge-bar">
								<a href="#" class="single-icon">Favoris</a>
							</div>
							<div class="sinlge-bar shopping">
								<a href="#" class="single-icon">Mes save</a>
								<!-- Shopping Item -->
								<div class="shopping-item">
									<div class="dropdown-cart-header">
										<span>2 Items</span>
										<a href="#">View Cart</a>
									</div>
									<ul class="shopping-list">
										<li>
											<a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
											<a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
											<h4><a href="#">Woman Ring</a></h4>
											<p class="quantity">1x - <span class="amount">$99.00</span></p>
										</li>
										<li>
											<a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
											<a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
											<h4><a href="#">Woman Necklace</a></h4>
											<p class="quantity">1x - <span class="amount">$35.00</span></p>
										</li>
									</ul>
									<div class="bottom">
										<div class="total">
											<span>Total</span>
											<span class="total-amount">$134.00</span>
										</div>
										<a href="checkout.html" class="btn animate">Checkout</a>
									</div>
								</div>
								<!--/ End Shopping Item -->
							</div>
                        {% else %}
                        <div class="sinlge-bar">
							<a href="#" class="single-icon">Blog</a>
						</div>
                        {% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
</header>
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Shopping</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contactezNous' %}" tabindex="-1" aria-disabled="true">contactez nous</a>
      </li>
    </ul>
    <nav class="navbar-nav">
    <li class="nav-item">
    <a href="#" class="nav-link btn btn-outline-info">Vends tes articles</a>
    </li>
    <li class="nav-item">
    <a href="#" class="nav-link">Deconnexion</a>
    </li>
    </nav>
  </div>
</nav>
<!--End Navbar-->
<!-- Content -->
{% block content %}

{% endblock content %}
<!--End content -->
<!-- Start Shop Services Area -->
	<section class="shop-services section home">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-rocket"></i>
						<h4>Booster vos caisses</h4>
						<p>Vends ton produit sans déplacement</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-reload"></i>
						<h4>Echanges</h4>
						<p>Tu peux échanger ton produit.</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-lock"></i>
						<h4>Sécurité</h4>
						<p>100% sure et flexible</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-tag"></i>
						<h4>Moins cher</h4>
						<p>Les prix sont moins chers sur colways.</p>
					</div>
					<!-- End Single Service -->
				</div>
			</div>
		</div>
	</section>
<!-- End Shop Services Area -->

<!-- Start Footer Area -->
	<footer class="footer">
		<!-- Footer Top -->
		<div class="footer-top section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer about">
							<div class="logo">
								<a href="index.html" style="font-size:2em;color:white;">Colways<i style="color:orange" class="fa fa-shopping-cart"></i></a>	
							</div>
							<p class="text">La plateforme ............................................</p>
							<p class="call">..............................<span><a href="tel:123456789">779999999</a></span></p>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Information</h4>
							<ul>
								<li><a href="#">A propos Colways</a></li>
								<li><a href="#">Comment ça marche?</a></li>
								<li><a href="#">Qui sommes nous?</a></li>
								<li><a href="#">Help</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Service</h4>
							<ul>
								<li><a href="#">Publicité</a></li>
								<li><a href="#">Assistants</a></li>
								<li><a href="#">Contacts</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer social">
							<h4>Retrouvez nous</h4>
							<!-- Single Widget -->
							<div class="contact">
								<ul>
									<li>Description</li>
									<li>Lieu à preciser</li>
									<li>colways@egmail.com</li>
									<li>779999999</li>
								</ul>
							</div>
							<!-- End Single Widget -->
							<ul>
								<li><a href="#"><i class="ti-facebook"></i></a></li>
								<li><a href="#"><i class="ti-twitter"></i></a></li>
								<li><a href="#"><i class="ti-flickr"></i></a></li>
								<li><a href="#"><i class="ti-instagram"></i></a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Top -->
		<div class="copyright">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-6 col-12">
							<div class="left">
								<p>Copyright © 2020 | Team ....... </p>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="right">
								<img src="{% static 'template/images/payments.png' %}" alt="tof">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- /End Footer Area -->
	<!-- Jquery -->
    <script src="{% static 'template/js/jquery.min.js' %}"></script>
    <script src="{% static 'template/js/jquery-migrate-3.0.0.js' %}"></script>
	<script src="{% static 'template/js/jquery-ui.min.js'%}"></script>
	<!-- Popper JS -->
	<script src="{% static 'template/js/popper.min.js' %}"></script>
	<!-- Bootstrap JS -->
	<script src="{% static 'template/js/bootstrap.min.js' %}"></script>
	<!-- Slicknav JS -->
	<script src="{% static 'template/js/slicknav.min.js' %}"></script>
	<!-- Owl Carousel JS -->
	<script src="{% static 'template/js/owl-carousel.js' %}"></script>
	<!-- Magnific Popup JS -->
	<script src="{% static 'template/js/magnific-popup.js' %}"></script>
	<!-- Waypoints JS -->
	<script src="{% static 'template/js/waypoints.min.js' %}"></script>
	<!-- Countdown JS -->
	<script src="{% static 'template/js/finalcountdown.min.js' %}"></script>
	<!-- Nice Select JS -->
	<script src="{% static 'template/js/nicesellect.js' %}"></script>
	<!-- Flex Slider JS -->
	<script src="{% static 'template/js/flex-slider.js' %}"></script>
	<!-- ScrollUp JS -->
	<script src="{% static 'template/js/scrollup.js' %}"></script>
	<!-- Onepage Nav JS -->
	<script src="{% static 'template/js/onepage-nav.min.js' %}"></script>
	<!-- Easing JS -->
	<script src="{% static 'template/js/easing.js' %}"></script>
	<!-- Active JS -->
	<script src="{% static 'template/js/active.js' %}"></script>

</body>
</html>