{% extends 'membres/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mb-3">
        <div class="col-md-4 mt-3">
            <div class="card">
            <div class="card-body">
                <div class="container align-items-center">
                <a href="{% url 'add_product' %}" class="btn btn-block btn-warning">Commencer à vendre</a>
                </div>
            </div>
            </div>
        </div>
    </div>
<!-- end row -->
<div class="row mb-2">
    <div class="container mb-2">
        <div class="alert alert-dark mb-2" role="alert">
        <span style="font-size: 20px;" class="">Mes produits</span>
        </div>
        <!-- mes produits -->
						<div class="row">
							{% for p in produits %}
							<div class="col-lg-4 col-md-6 col-12">
								<div class="single-product">
									<div class="product-img">
										<a href="{% url 'detail_produit' p.id %}">
											<img class="default-img img-fluid" src="{{ p.Photo1.url }}" alt="#">
											<img class="hover-img img-fluid" src="{{ p.Photo1.url }}" alt="#">
										</a>
										<div class="button-head">
											<div class="product-action">
												<a data-toggle="modal" data-target="#P{{p.id}}" title="Quick View" href="#"><i class=" ti-eye"></i><span>Voir details</span></a>
												<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
												<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
											</div>
											<div class="product-action-2">
												<a data-toggle="modal" data-target="#P{{p.id}}" title="modifier">Modifier</a>
											</div>
										</div>
									</div>
									<div class="product-content">
										<h3><a href="{% url 'detail_produit' p.id %}">{{ p.Nom }}</a></h3>
										<div class="product-price">
										<span class="text-warning" style="font-size:16px;font-weight:bold;">{{ p.Prix }} Franc CFA</span>
										</div>
									</div>
								</div>
							</div>
						<!-- modal produit -->
						<div class="modal fade" id="P{{p.id}}" tabindex="-1" role="dialog">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close" aria-hidden="true"></span></button>
									</div>
								<form method="POST" action="">
								{% csrf_token %}
									<div class="modal-body">
										<div class="row no-gutters">
											<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
												<!-- Product Slider -->
													<div class="product-gallery">
														<div class="quickview-slider-active">
															<div class="single-slider">
																<img src="{{ p.Photo1.url }}" alt="#" class="img-fluid">
															</div>
															<div class="single-slider">
																<img src="{{ p.Photo2.url }}" alt="#" class="img-fluid">
															</div>
															<div class="single-slider">
																<img src="{{ p.Photo2.url }}" alt="#" class="img-fluid">
															</div>
															<div class="single-slider">
																<img src="{{ p.Photo2.url }}" alt="#" class="img-fluid">
															</div>
														</div>
													</div>
												<!-- End Product slider -->
											</div>
											<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
												<div class="quickview-content">
													<h2>Modifier vottre produit</h2>
													<div class="form-group">
														<input class="form-control" name="nom" value="{{p.Nom}}" type="text" placeholder="Nom du produit">
													</div>
													<div class="quickview-ratting-review">
														<div class="quickview-ratting-wrap">
															<div class="quickview-ratting">
																<i class="yellow fa fa-star"></i>
																<i class="yellow fa fa-star"></i>
																<i class="yellow fa fa-star"></i>
																<i class="yellow fa fa-star"></i>
																<i class="fa fa-star"></i>
															</div>
															<a href="#"> (1 customer review)</a>
														</div>
														<div class="quickview-stock">
															<span><i class="fa fa-check-circle-o"></i> in stock</span>
														</div>
													</div>
													<div class="form-group">
														<input type="tel" name="prix" class="form-control" value="{{p.Prix}}" placeholder="Prix en Franc CFA"> 
													</div>
													<div class="quickview-peragraph">
														<div class="form-group">
															<textarea class="form-control" rows="2" name="description" placeholder="Description du produit">{{p.Description}}</textarea>
														</div>
													</div>
													<div class="size">
														<div class="row">
															<div class="col-lg-6 col-12">
																<h5 class="title">Taille</h5>
																<select>
																	<option selected="selected">{{ p.Taille }}</option>
																</select>
															</div>
															<div class="col-lg-6 col-12">
																<h5 class="title">Couleur</h5>
																<select>
																	<option selected="selected">{{ p.Couleur }}</option>
																</select>
															</div>
															<div class="col-lg-6 col-12">
																<h5 class="title">Marque</h5>
																<select>
																	<option selected="selected">{{ p.Marque }}</option>
																</select>
															</div>
														</div>
													</div>
													<div class="quantity">
														<!-- Input Order -->
														<div class="input-group">
															<div class="button minus">
																<button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
																	<i class="ti-minus"></i>
																</button>
															</div>
															<input type="text" name="quant[1]" class="input-number"  data-min="1" data-max="1000" value="1">
															<div class="button plus">
																<button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
																	<i class="ti-plus"></i>
																</button>
															</div>
														</div>
														<!--/ End Input Order -->
													</div>
													<div class="add-to-cart">
														<input type="submit" class="btn" value="Enregistrer">
														<a href="{% url 'detail_produit' p.id %}" class="btn min"><i class="fa fa-compress"></i></a>
													</div>
													<div class="default-social">
														<h4 class="share-now">Share:</h4>
														<ul>
															<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
															<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
															<li><a class="youtube" href="#"><i class="fa fa-pinterest-p"></i></a></li>
															<li><a class="dribbble" href="#"><i class="fa fa-google-plus"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
								</div>
							</div>
						</div>
						<!-- Modal end -->
						{% empty %}
						<div class="container my-auto">
						  <div class="card">
							<div class="card-body">
							  <h3 class="text-warning" style="justify-content:center;display: flex; align-items: center;"> Aucun produit ajouté ! <a class="ml-2" href="{% url 'add_product' %}" style="font-size: small;color: blue;"> publier un produit</a> </h3>
							</div>
						  </div>
						</div>
						{% endfor %}
						</div> <!--end row -->
                <!-- end produits-->
        </div>
</div>
<!-- end row -->
<div class="container row justify-content-center mt-2 mb-3">
<nav aria-label="Page navigation example">
	<ul class="pagination justify-content-center">
	{% if produits.has_previous %}
	<li class="page-item"><a class="page-link" href="?page={{ produits.previous_page_number }}">&laquo;</a></li>
	{% endif %}
	{% for p in produits.paginator.page_range %}
	{% if produits.number == p  %}
	<li class="page-item active"><a class="page-link" href="?page={{p}}">{{p}}</a></li>
	{% else %}
	<li class="page-item"><a class="page-link" href="?page={{p}}">{{p}}</a></li>
	{% endif %}
	 {% endfor %}
	{% if produits.has_next %}
	<li class="page-item"><a class="page-link" href="?page={{ produits.next_page_number }}">&raquo;</a></li>
	{% endif %}
	</ul>
</nav>
</div>
</div>
{% endblock content %}